html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: url('./main.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans KR', 'Sans-serif';
}