# heroku dependencies
/node_modules
yarn.lock

# Server dependencies
/Server/node_modules


# Server yarn-lock
/Server/yarn.lock

# Server DataBase config
/Server/config.js

# Client dependencies
/Client/node_modules

# Client yarn-lock
/Client/yarn.lock

# Client production
/Client/build

# Client misc
/Client/.DS_Store
/Client/.env.local
/Client/.env.development.local
/Client/.env.test.local
/Client/.env.production.local
/Client/npm-debug.log*
/Client/yarn-debug.log*
/Client/yarn-error.log*
