# See https://help.github.com/ignore-files/ for more about ignoring files.

# server dependencies
/Server/node_modules

# dependencies
/Client/node_modules

# yarn-lock
/Client/yarn.lock

# testing
/Client/coverage

# production
/Client/build

# misc
/Client/.DS_Store
/Client/.env.local
/Client/.env.development.local
/Client/.env.test.local
/Client/.env.production.local

/Client/npm-debug.log*
/Client/yarn-debug.log*
/Client/yarn-error.log*
