# heroku dependencies
/node_modules
yarn.lock

# Server dependencies
/blog-backend/node_modules
/blog-backend/build

# Server yarn-lock
/blog-backend/yarn.lock

# Server DataBase config

# Client dependencies
/blog-frontend/node_modules

# Client yarn-lock
/blog-frontend/yarn.lock

# Client production
/blog-frontend/build

# Client misc
/blog-frontend/.DS_Store
/blog-frontend/.env.local
/blog-frontend/.env.development.local
/blog-frontend/.env.test.local
/blog-frontend/.env.production.local
/blog-frontend/npm-debug.log*
/blog-frontend/yarn-debug.log*
/blog-frontend/yarn-error.log*

# test folder
/frontend
/blog-frontend-outdated