.header-h1 {
  color: #007bff;
}

.header-h1:link {
  color: #007bff;
}

.header-h1:visited {
  color: #007bff;
}

.header-h1 > a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #007bff;
  text-decoration: none;
  outline: none;
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.header-h1 > a:link {
  color: #007bff;
}

.header-h1 > a:visited {
  color: #007bff;
}

.header-h1 > a:hover {
  color: skyblue;
}