.primary {
  height: 4rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background: white;
  color: #007bff;
  border: 1px solid #007bff;
  outline: none;
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.primary:hover {
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px #007bff;
  border: 1px solid #007bff;
}

.primary:active {
  outline: none;
  color: white;
  background: #007bff;
  box-shadow: #007bff;
  border: 1px solid #007bff;
}

.primary:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
  border: 1px solid #007bff;
}

.primary-half {
  height: 2rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background: white;
  color: #007bff;
  border: 1px solid #007bff;
  outline: none;
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.primary-half:hover {
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(135, 229, 255);
  border: 1px solid rgb(135, 229, 255);
}

.primary-half:active {
  outline: none;
  color: white;
  background: #007bff;
  box-shadow: 0 0 5px rgb(135, 229, 255);
  border: 1px solid rgb(135, 229, 255);
}

.primary-half:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(135, 229, 255);
  border: 1px solid rgb(135, 229, 255);
}

.info {
  height: 4rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background: white;
  color: #17a2b8;
  border: 1px solid #17a2b8;
  outline: none;
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.info:hover {
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px #17a2b8;
  border: 1px solid #17a2b8;
}

.info:active {
  outline: none;
  color: white;
  background: #17a2b8;
  box-shadow: #17a2b8;
  border: 1px solid #17a2b8;
}

.info:focus {
  outline: none;
  box-shadow: 0 0 5px #17a2b8;
  border: 1px solid #17a2b8;
}

.info-half {
  height: 2rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background: white;
  color: #17a2b8;
  border: 1px solid #17a2b8;
  outline: none;
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.info-half:hover {
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px #17a2b8;
  border: 1px solid #17a2b8;
}

.info-half:active {
  outline: none;
  color: white;
  background: #17a2b8;
  box-shadow: #17a2b8;
  border: 1px solid #17a2b8;
}

.info-half:focus {
  outline: none;
  box-shadow: 0 0 5px #17a2b8;
  border: 1px solid #17a2b8;
}

.danger {
  height: 4rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background: white;
  color: #dc3545;
  border: 1px solid #dc3545;
  outline: none;
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.danger:hover {
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px #dc3545;
  border: 1px solid #dc3545;
}

.danger:active {
  outline: none;
  color: white;
  background: #dc3545;
  box-shadow: #dc3545;
  border: 1px solid #dc3545;
}

.danger:focus {
  outline: none;
  box-shadow: 0 0 5px #dc3545;
  border: 1px solid #dc3545;
}

.danger-half {
  height: 2rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background: white;
  color: #dc3545;
  border: 1px solid #dc3545;
  outline: none;
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.danger-half:hover {
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px #dc3545;
  border: 1px solid #dc3545;
}

.danger-half:active {
  outline: none;
  color: white;
  background: #dc3545;
  box-shadow: #dc3545;
  border: 1px solid #dc3545;
}

.danger-half:focus {
  outline: none;
  box-shadow: 0 0 5px #dc3545;
  border: 1px solid #dc3545;
}

.select {
  height: 4rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #aeb87a;
  border-color: #aeb87a;
  background: white;
  outline: none;
}

.select:hover {
  cursor: pointer;
  color: white;
  border-color: #aeb87a;
  background: #aeb87a;
}

.select:active {
  border: none;
  color: white;
  border-color: #aeb87a;
  background: #aeb87a;
}

.select:focus {
  outline: none;
}

.block {
  font-size: 1.44rem;
  width: 100%;
  padding: 10px;
}