.primary {
  height: 4rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #007bff;
  border-color: #007bff;
  background: white;
  outline: none;
}

.primary:hover {
  cursor: pointer;
  color: white;
  border-color: #007bff;
  background: #007bff;
}

.primary:active {
  border: none;
  color: white;
  border-color: #007bff;
  background: #007bff;
}

.primary:focus {
  outline: none;
}

.primary-half {
  height: 2rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #007bff;
  border-color: #007bff;
  background: white;
  outline: none;
}

.primary-half:hover {
  cursor: pointer;
  color: white;
  border-color: #007bff;
  background: #007bff;
}

.primary-half:active {
  border: none;
  color: white;
  border-color: #007bff;
  background: #007bff;
}

.primary-half:focus {
  outline: none;
}

.outline-primary {
  height: 4rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: white;
  border-color: #007bff;
  background: #007bff;
  outline: none;
}

.outline-primary:hover {
  cursor: pointer;
  color: #007bff;
  border-color: #007bff;
  background: white;
}

.outline-primary:active {
  border: none;
  color: #007bff;
  border-color: #007bff;
  background: white;
}

.outline-primary:focus {
  outline: none;
}

.info {
  height: 4rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #17a2b8;
  border-color: #17a2b8;
  background: white;
  outline: none;
}

.info:hover {
  cursor: pointer;
  color: white;
  border-color: #17a2b8;
  background: #17a2b8;
}

.info:active {
  border: none;
  color: white;
  border-color: #17a2b8;
  background: #17a2b8;
}

.info:focus {
  outline: none;
}

.info-half {
  height: 2rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #17a2b8;
  border-color: #17a2b8;
  background: white;
  outline: none;
}

.info-half:hover {
  cursor: pointer;
  color: white;
  border-color: #17a2b8;
  background: #17a2b8;
}

.info-half:active {
  border: none;
  color: white;
  border-color: #17a2b8;
  background: #17a2b8;
}

.info-half:focus {
  outline: none;
}

.outline-info {
  height: 4rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: white;
  border-color: #17a2b8;
  background: #17a2b8;
  outline: none;
}

.outline-info:hover {
  cursor: pointer;
  color: #17a2b8;
  border-color: #17a2b8;
  background: white;
}

.outline-info:active {
  border: none;
  color: #17a2b8;
  border-color: #17a2b8;
  background: white;
}

.outline-info:focus {
  outline: none;
}

.danger {
  height: 4rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #dc3545;
  border-color: #dc3545;
  background: white;
  outline: none;
}

.danger:hover {
  cursor: pointer;
  color: white;
  border-color: #dc3545;
  background: #dc3545;
}

.danger:active {
  border: none;
  color: white;
  border-color: #dc3545;
  background: #dc3545;
}

.danger:focus {
  outline: none;
}

.danger-half {
  height: 2rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #dc3545;
  border-color: #dc3545;
  background: white;
  outline: none;
}

.danger-half:hover {
  cursor: pointer;
  color: white;
  border-color: #dc3545;
  background: #dc3545;
}

.danger-half:active {
  border: none;
  color: white;
  border-color: #dc3545;
  background: #dc3545;
}

.danger-half:focus {
  outline: none;
}

.outline-danger {
  height: 4rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: white;
  border-color: #dc3545;
  background: #dc3545;
  outline: none;
}

.outline-danger:hover {
  cursor: pointer;
  color: #dc3545;
  border-color: #dc3545;
  background: white;
}

.outline-danger:active {
  border: none;
  color: #dc3545;
  border-color: #dc3545;
  background: white;
}

.outline-danger:focus {
  outline: none;
}

.select {
  height: 4rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #aeb87a;
  border-color: #aeb87a;
  background: white;
  outline: none;
}

.select:hover {
  cursor: pointer;
  color: white;
  border-color: #aeb87a;
  background: #aeb87a;
}

.select:active {
  border: none;
  color: white;
  border-color: #aeb87a;
  background: #aeb87a;
}

.select:focus {
  outline: none;
}

.outline-select {
  height: 4rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: white;
  border-color: #aeb87a;
  background: #aeb87a;
  outline: none;
}

.outline-select:hover {
  cursor: pointer;
  color: #aeb87a;
  border-color: #aeb87a;
  background: white;
}

.outline-select:active {
  border: none;
  color: #aeb87a;
  border-color: #aeb87a;
  background: white;
}

.outline-select:focus {
  outline: none;
}

.block {
  font-size: 1.44rem;
  width: 100%;
  padding: 10px;
}