@import url("https://cdn.jsdelivr.net/gh/velopert/font-d2coding@1.2.1/d2coding.css");

.add-editor-template {
  margin-top: 5%;
}

.add-editor-dropdown-button {
  margin-top: 5%;
}

.add-editor-and-viewer {
  height: calc(100vh - 4rem); 
  display: flex;
  position: relative; 
  margin-top: 5%;
}



.add-editor {
  display: flex;
  min-width: 0; 
  overflow: auto; 
}
.add-editor-inside {
  flex: 1; 
  display: flex;
  flex-direction: column;
}
.add-editor-title {
  background: gray;
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding: 1rem;
  color: white;
  font-weight: 500;
}
.add-editor-sub-title {
  background: gray;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 1rem;
  color: white;
  font-weight: 500;
}
.add-editor-title::-webkit-input-placeholder {
  color: rgb(66, 62, 62);
}
.add-editor-sub-title::-webkit-input-placeholder {
  color: rgb(66, 62, 62);
}
.code-editor {
  flex: 1; 
  background: gray;
  display: flex;
  flex-direction: column;
}
.CodeMirror {
  font-size: 1rem;
  flex: 1;
  font-family: 'D2 Coding';
}




.add-preview {
  display: flex;
  min-width: 0; 
  overflow: auto; 
}
.add-preview-inside {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  font-size: 1.125rem;
}
.add-preview-title {
  font-size: 2.5rem;
  font-weight: 300;
  padding-bottom: 2rem;
  border-bottom: 1px solid gray;
}
.add-preview-sub-title {
  font-size: 1.3rem;
  font-weight: 200;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.add-separator {
  width: 1rem; 
  height: 100%;
  position: absolute;
  transform: translate(-50%); 
  cursor: col-resize; 
}