@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

.error-container {
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin-top: 2.5%;
}

.error-container span {
  line-height: 1;
  animation: colordancing 3s infinite;
}

@media only screen and (min-width: 0px) and (max-width: 320px) {
  .error-container span {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .error-container span {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  .error-container span {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .error-container span {
    font-size: 8rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .error-container span {
    font-size: 9rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .error-container span {
    font-size: 10rem;
  }
}

@media only screen and (min-width: 1441px) {
  .error-container span {
    font-size: 11rem;
  }
}

@keyframes colordancing {
  0% {
    color: #d1f2a5;
  }

  25% {
    color: #f56991;
  }

  50% {
    color: #ffc48c;
  }

  75% {
    color: #effab4;
  }

  100% {
    color: #d1f2a5;
  }
}

@keyframes colordancing2 {
  0% {
    color: #ffc48c;
  }

  25% {
    color: #effab4;
  }

  50% {
    color: #d1f2a5;
  }

  75% {
    color: #f56991;
  }

  100% {
    color: #ffc48c;
  }
}

/* demo stuff */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}